
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');




* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;

}



.logo-container {
  flex: 1;
  text-shadow: 5px 5px 5px green;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu-list-item {
  margin-right: 30px;
}

  .movieButton {
    background: none; /* Αφαιρεί το background */
    color: white; /* Χρώμα κειμένου */
    border: none; /* Αφαιρεί το περίγραμμα */
    font-size: 18px; /* Ίδιο μέγεθος γραμματοσειράς */
    cursor: pointer; /* Δείκτης χεριού στο hover */
    padding: 10px 15px;
  }
  
  .movieButton:hover {
    color: #4dbf00; /* Χρώμα hover, όπως τα άλλα κουμπιά */
  }

.menu-list-item.active {
  font-weight: bold;
}


.search-container{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}


.search-container input,
.search-container button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid  #4dbf00;
    color: white;

}

.search-container button{cursor: pointer;}
.search-container button:hover{background-color:#4dbf00;}
.search-container button:active{transform: scale(.9);}


.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}
.movie-list-title{
  color: #91d066;
}
.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;

}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
  cursor: pointer;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}
.movie-rank{
    font-size: 140px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  color: #4dbf00;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color:#4dbf00;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}

.smenu{
  display: none;
  position: absolute;
}

.movieButton:hover.smenu{
  display: block;
  position: absolute;
  background: #4dbf00;
  margin-top: 15px;
  margin-left: -15px;
}

/*login*/

.login{
  background-color: #151515;
  text-align: center;
  

}

#searchResultsPopup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .popup-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        max-width: 900px;
        text-align: center;
        color: black;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        color: black;
    }
    .results-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
        padding: 20px;
    }
    .movie-card {
        background: #222;
        color: white;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
    }
    .movie-card img {
        width: 100%;
        border-radius: 8px;
    }

    .popup {
     display: none;
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     background-color: #333;
     text-align: center;
     z-index: 1000;
     overflow-y: scroll;
  }
  
  .popmovie{
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-wrap: wrap;
    gap:2rem;
    padding: 1rem;

  }
  
  .popup button {
      margin-top: 10px;
      padding: 5px 10px;
      background: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .pop-container{
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,1)) ,url(img/11.jpg); */
    background-size:cover;
    background-position: center;
    top: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content:center;
    padding:30px;
    overflow-y: scroll;
    transform: scale(0);
    /* transition: 200ms ease-in-out transform; */
    z-index: 2000;

  }

  .content{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    width: 1200px;
    margin-top: 10rem;
    
  }

.content .left .single-info{
    font-size: 1rem;
    padding: 10px 0px;

  }

  .content .left .single-info .heart-icon{
    font-size: 2rem;
    user-select: none;
    cursor: pointer;

  }

  .content .left .single-info .heart-icon:hover{
   transform: scale(1.1);  

  
  }
  .content .left .single-info .heart-icon:active{transform: scale(.9);}

  .poster-img{
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem rgba(20, 147, 52, 0.8);
    border: 1px solid #4dbf00;
  }

  .poster-img img{
    width:100%;
    height:100%;
    object-fit:cover;
  }

  .single-info-container{width: 200px;}
  .right>*:not(h1){margin: 1rem 0;}
  
  .single-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Προσθέτει κενό μεταξύ των στοιχείων */
}

.single-info {
    display: flex;
    justify-content: space-between; /* Κάνει τα στοιχεία να έχουν σωστή στοίχιση */
    margin-bottom: 10px; /* Δίνει επιπλέον απόσταση μεταξύ των πληροφοριών */
}

.right h1, .right h3 {
    margin-bottom: 1rem; /* Βάζει απόσταση μετά τον τίτλο και το tagline */
}

.genres, .overview, .trailer {
    margin-top: 2rem; /* Δημιουργεί μεγαλύτερο κενό μεταξύ των ενοτήτων */
}

.x{
  font-size: 2rem;
  position: absolute;
  top: 100px;
  right: 100px;
  cursor: pointer;
  user-select: none;
}

.x:hover{transform: scale(1.1);}
.x:active{transform: scale(0.9);}

.trailer iframe{
    border:2px solid #28a745;
    box-shadow: 0 0 .5rem #28a745;
    max-width: 400px;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;

}

.show-pop{transform: scale(1);}
